@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #171818;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

main {
  scroll-snap-type: y mandatory;
}

#logo {
  color: white;
  font-family: "Abril Fatface", serif;
  font-weight: lighter;
  font-size: 2.3rem;
  text-decoration: none;
  cursor: none;
}

.logo-span {
  color: rgb(255, 139, 93);
}

.burger {
  cursor: pointer;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  position: relative;
  z-index: 2;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.line2 {
  width: 2rem;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #171818;
  scroll-snap-align: center;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj1-span {
  color: rgb(255, 139, 93);
}

.proj2-span {
  color: rgb(86, 124, 228);
}

.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 3rem;
}

.hero-desc p {
  padding: 3rem 0;
  font-size: 1.2rem;
  color: rgb(235, 235, 235);
}

.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: white;
  border: 1px solid white;
  border-radius: 3rem;
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-start;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
  margin-right: 10rem;
}

.nav-links li {
  padding: 3rem 0rem;
  list-style: none;
  cursor: pointer;
}

.nav-links li a {
  text-decoration: none;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  padding: 2rem 0rem;
  font-size: 3rem;
  font-weight: lighter;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.linked {
  color: #0077b5;
}

.gmail {
  color: #dc4c40;
}

.insta {
  color: #cf2d88;
}

.reveal-img,
.reveal-text {
  position: absolute;
  background: #171818;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  position: fixed;
  border-radius: 5rem;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 300ms ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.nav-active {
  background: rgb(255, 139, 93);
  transform: scale(2);
}

.cursor.explore-active {
  background: white;
  transform: scale(3);
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.2rem;
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgb(255, 139, 93);
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe2 {
  background: rgb(86, 124, 228);
}

body.hide {
  overflow: hidden;
}

/* Beat Page */
.beat1 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  color: white;
  position: relative;
}

.beat-img {
  width: 50vw;
  margin-top: 2rem;
}

.beat-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beat-text {
  position: relative;
  text-align: center;
}

.beat-text h1 {
  font-size: 4rem;
  padding: 5rem 0rem;
  color: rgb(255, 139, 93);
}

.beat-text p {
  font-size: 1.5rem;
  padding: 0rem 0rem 5rem 0rem;
}

.beat-nr {
  font-size: 15rem;
  position: absolute;
  bottom: -12%;
  right: 10%;
  color: rgb(255, 139, 93);
}

.beat-try {
  margin: 0 0 2rem 0;
  text-align: center;
}

.beat-try h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.beat-try a {
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: none;
  text-decoration: none;
}

.beat-source {
  border: 2px solid white;
  border-radius: 5rem;
  color: white;
}

.beat-demo {
  border: 2px solid rgb(255, 139, 93);
  border-radius: 5rem;
  color: rgb(255, 139, 93);
}
